.size-panel {
  display: block;
  margin-bottom: 16px;

  color: #1d1f22;
  text-align: start;
}

.size-panel__title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: start;
  text-transform: uppercase;
}
.size-panel__sizes {
  display: flex;
  flex-wrap: wrap;
}
.size-panel__size {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 63px;
  min-height: 45px;
  margin-top: 5px;
  margin-right: 12px;
  border: 2px solid #1d1f22;
  cursor: pointer;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: start;
  color: #1d1f22;
}

.size-panel__size:last-child {
  margin-right: 0;
}

.size-panel__size:hover {
  color: white;
  background-color: #1d1f22cc;
}
.size-panel__size.selected {
  color: white;
  background-color: #1d1f22;
}
