.root {
  display: block;
  margin-bottom: 16px;

  text-align: start;
  color: #1d1f22;
}

.title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: start;
  text-transform: uppercase;
}
.selections {
  display: flex;
  flex-wrap: wrap;
}
.selection {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 63px;
  min-height: 45px;

  margin-top: 5px;
  margin-right: 12px;
  border: 2px solid #1d1f22;
  cursor: pointer;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: start;
  color: #1d1f22;
}
.selection:hover {
  background-color: #1d1f22cc;
  color: white;
}

.selection:last-child {
  margin-right: 0;
}

.selection.selected {
  background-color: #1d1f22;
  color: white;
}
