.product-panel {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 292px;
  margin-left: 100px;

  text-align: start;
  color: #1d1f22;
}

.product-panel__brand {
  margin-bottom: 16px;

  text-align: start;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
}

.product-panel__title {
  margin-bottom: 43px;

  text-align: start;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
}

.product-panel__description {
  text-align: start;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.product-panel__price {
  margin-top: 30px;
  margin-bottom: 20px;
}

.product-panel__price-title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: start;
  text-transform: uppercase;
}

.product-panel__price-amount {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: start;
}

.product-panel__btn-add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 292px;
  height: 52px;
  padding: 16px 32px;
  margin-bottom: 40px;
  outline: none;
  border: none;

  background: #5ece7b;

  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.product-panel__btn-add-to-cart:hover {
  opacity: 0.9;
}

.product-panel__btn-add-to-cart:active {
  transform: translate(1px, 1px);
}
