.product-card {
  position: relative;

  width: 386px;
  height: 444px;

  text-decoration: none;
}

.product-card:hover {
  box-shadow: 4px 6px 24px 0px rgba(34, 60, 80, 0.2);
}

.product-card:hover .product-card__btn-to-cart {
  display: block;
}

.product-card__img--container {
  height: 362px;
  padding: 16px;
  margin-bottom: 10px;
}

.product-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card__title {
  padding-left: 16px;

  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  text-align: start;
  color: #1d1f22;
}

.product-card__amount {
  padding-left: 16px;

  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: start;
  color: #1d1f22;
}

.product-card__btn-to-cart {
  position: absolute;
  bottom: 60px;
  right: 30px;
  z-index: 1;

  display: none;
  background: url(./../../assets/icons/icon-green-cart.svg) 100% center
    no-repeat;

  width: 72px;
  height: 72px;
}

.product-card__btn-to-cart:hover {
  opacity: 0.9;
  transform: scale(1.05);
}
.product-card__btn-to-cart:active {
  opacity: 1;
  transform: translate(1px, 1px);
}
