.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 80px;
}

.header__right-menu {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 32px;
  height: 32px;

  background: url('./../../assets/icons/icon-VSF.svg') center no-repeat;
}
