.order-buttons-mini {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.order-buttons-mini__decrease,
.order-buttons-mini__increase {
  width: 24px;
  height: 24px;

  border: 1px solid #1d1f22;

  background: url(./../../assets/icons/icon-minus-mini.svg) center no-repeat;

  font-size: 36px;
  font-weight: 300;
  outline: none;
}

.order-buttons-mini__increase {
  background: url(./../../assets/icons/icon-minus-mini.svg) center no-repeat,
    url(./../../assets/icons/icon-plus-mini.svg) center no-repeat;
}

.order-buttons-mini__decrease:hover,
.order-buttons-mini__increase:hover {
  opacity: 0.85;
}

.order-buttons-mini__decrease:active,
.order-buttons-mini__increase:active {
  transform: translate(1px, 1px);
}

.order-buttons-mini__quantity {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
