.mini-cart__background {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #3937482f;
}

.mini-cart {
  position: absolute;
  right: 5px;
  top: 80px;
  z-index: 2;

  display: block;
  width: 360px;
  height: 690px;

  padding: 10px;

  background-color: #fff;

  color: #1d1f22;
  text-align: start;

  box-shadow: 4px 6px 24px 0px rgba(34, 60, 80, 0.2);
}

.mini-cart__title {
  margin-top: 10px;

  text-align: start;
  color: #1d1f22;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.mini-cart__list-order {
  display: flex;
  flex-direction: column;
  height: 500px;
  margin-bottom: 6px;
  margin-top: 6px;

  overflow-y: auto;
}

.mini-cart__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.mini-cart__btn-to-bag,
.mini-cart__btn-check-out {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;

  width: 45%;
  height: 52px;

  padding: 16px 32px;

  background: #5ece7b;
  text-decoration: none;

  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;

  color: #fff;
  margin-bottom: 40px;
}

.mini-cart__btn-to-bag {
  border: 2px solid #1d1f22;
  color: #1d1f22;
  background-color: transparent;
}

.mini-cart__btn-to-bag:hover,
.mini-cart__btn-check-out:hover {
  opacity: 0, 85;
}

.mini-cart__btn-to-bag:active,
.mini-cart__btn-check-out:active {
  transform: translate(1px, 1px);
}
