.order-panel {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 292px;

  text-align: start;
  color: #1d1f22;
}

.order-panel__brand {
  margin-bottom: 16px;

  text-align: start;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
}

.order-panel__title {
  margin-bottom: 10px;
  outline: none;

  text-decoration: none;
  text-align: start;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}
.order-panel__title:hover {
  text-decoration: underline;
}

.order-panel__description {
  text-align: start;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.order-panel__price-amount {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: start;
}

.btn-add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 292px;
  height: 52px;

  padding: 16px 32px;
  margin-bottom: 40px;
  outline: none;
  border: none;

  background: #5ece7b;

  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;

  color: #fff;
}

.btn-add-to-cart:hover {
  opacity: 0.9;
}

.btn-add-to-cart:active {
  transform: translate(1px, 1px);
}
